@import "furtive-clearfix";
@import "furtive-box";
@import "furtive-floats";
@import "furtive-typescale";
@import "furtive-buttons";
@import "furtive-sticky-footer";
@import "furtive-forms";
@import "furtive-responsive-utils";
@import "furtive-code";
@import "furtive-links";

.measure {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  padding: 3rem 0;
}

.hidden {
  display: none;
}

.grid-item {
  background-color: #fafafa;
  border: thin solid #fff;
  color: #888;
  font-size: .6rem;
  padding: .5rem;
}
